{% load static %}

  <nav class="navbar navbar-expand-lg fixed-top">
      <a href="{% url 'index' %}" class="navbar-brand">
        <img class="logo" src="{% static 'img/Leao2.png' %}">KingsMen's S.A
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
        <div class="navbar-nav">

          {% if user.is_authenticated %}
    
          <a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i>Home</a>
          <a href="{% url 'dashboard' %}"><i class="fa fa-fw fa-table"></i>Dashboard</a>
          <a href="{% url 'logout' %}"><i class="fa fa-fw fa-user"></i>Logout</a>
    
          {% else %}        
      
        <a class="active" href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="{% static '#' %}"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
        <a href="{% url 'login' %}"><i class="fa fa-fw fa-user"></i> Login</a>
        
        {% endif %}
      </div>
    </div>
  </nav>
